{% extends "base/auth.htm" %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/user/register.css' %}">
{% endblock %}

{% block content %}
<form method="post">
	{% csrf_token %}
	<h2>Сменить пароль</h2>

	<div class="form-content">
		<input type="password" name="current_password" placeholder="Текущий пароль" required>
		<input type="password" name="new_password" placeholder="Новый пароль" required>
		<input type="password" name="confirm_password" placeholder="Подтвердить пароль" required>
	
		<div>
			{% for msg in messages %}
			<p>{{ msg }}</p>
			{% endfor %}
		</div>

		<button type="submit">Сохранить</button>
		<a class="url" href="{% url 'profile' %}">Профиль</a>
	</div>
</form>
{% endblock %}