{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="referrer" content="origin-when-cross-origin">

	<link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">

	<link rel="apple-touch-icon" sizes="57x57" href="{% static 'icons/apple-icon-57x57.png' %}">
	<link rel="apple-touch-icon" sizes="60x60" href="{% static 'icons/apple-icon-60x60.png' %}">
	<link rel="apple-touch-icon" sizes="72x72" href="{% static 'icons/apple-icon-72x72.png' %}">
	<link rel="apple-touch-icon" sizes="76x76" href="{% static 'icons/apple-icon-76x76.png' %}">
	<link rel="apple-touch-icon" sizes="114x114" href="{% static 'icons/apple-icon-114x114.png' %}">
	<link rel="apple-touch-icon" sizes="120x120" href="{% static 'icons/apple-icon-120x120.png' %}">
	<link rel="apple-touch-icon" sizes="144x144" href="{% static 'icons/apple-icon-144x144.png' %}">
	<link rel="apple-touch-icon" sizes="152x152" href="{% static 'icons/apple-icon-152x152.png' %}">
	<link rel="apple-touch-icon" sizes="180x180" href="{% static 'icons/apple-icon-180x180.png' %}">
	<link rel="icon" type="image/png" sizes="36x36" href="{% static 'icons/android-icon-36x36.png' %}">
	<link rel="icon" type="image/png" sizes="48x48" href="{% static 'icons/android-icon-48x48.png' %}">
	<link rel="icon" type="image/png" sizes="72x72" href="{% static 'icons/android-icon-72x72.png' %}">
	<link rel="icon" type="image/png" sizes="96x96" href="{% static 'icons/android-icon-96x96.png' %}">
	<link rel="icon" type="image/png" sizes="144x144" href="{% static 'icons/android-icon-144x144.png' %}">
	<link rel="icon" type="image/png" sizes="192x192" href="{% static 'icons/android-icon-192x192.png' %}">
	<link rel="icon" type="image/png" sizes="192x192"  href="{% static 'icons/android-icon-192x192.png' %}">
	<link rel="icon" type="image/png" sizes="32x32" href="{% static 'icons/favicon-32x32.png' %}">
	<link rel="icon" type="image/png" sizes="96x96" href="{% static 'icons/favicon-96x96.png' %}">
	<link rel="icon" type="image/png" sizes="16x16" href="{% static 'icons/favicon-16x16.png' %}">
	<link rel="manifest" href="{% static 'manifest.json' %}">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="{% static 'icons/ms-icon-144x144.png' %}">
	<meta name="theme-color" content="#ffffff">

	
	<meta name="page_name" content="{{ page }}">

	<link rel="stylesheet" href="{% static 'css/reset.css' %}">
	<link rel="stylesheet" href="{% static 'css/colors.css' %}">

	<link rel="stylesheet" href="{% static 'css/base/profile.css' %}">
	<link rel="stylesheet" href="{% static 'css/base/header.css' %}">
	<link rel="stylesheet" href="{% static 'css/base/aside.css' %}">
	<link rel="stylesheet" href="{% static 'css/base/footer.css' %}">
	<script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>

	<link rel="stylesheet" href="{% static 'slick/slick.css' %}">
	<link rel="stylesheet" href="{% static 'slick/slick-theme.css' %}">
	<script src="{% static 'slick/slick.min.js' %}"></script>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"/>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"/>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

	<link rel="stylesheet" href="{% static 'css/video/list.css' %}">

	<link rel="stylesheet" href="{% static 'css/base/alert.css' %}">

	<title>{{ page_name }}</title>
	<meta name="description" content="{{ page_description }}">
	<meta name="keywords" content="{{ page_keywords }}">
	<link rel="canonical" href="{{ canonical_url }}">

	{% block style %}
	{% endblock %}
</head>
<body>
	{% include 'base/header.htm' %}

	<main>
		{% block content %}
		{% endblock %}

		{% include 'base/aside.htm' %}
	</main>

	{% include 'base/footer.htm' %}

	{% if messages %}
	<div id="message-container">
		{% for message in messages %}
		<div class="alert {{ message.tags }}">{{ message }}</div>
		{% endfor %}
	</div>
	<script src="{% static 'js/base/alert.js' %}"></script>
	{% endif %}

	<div class="confirm-popup-wraper" id="confirmPopupWraper">
		<div class="confirm-wraper">
			<div class="confirm-message" id="confirmMessage"></div>
			<div class="confirmation-btns">
				<button class="confirm-ok" id="confirmOk">ОК</button>
				<button class="confirm-no" id="confirmNo">Отмена</button>
			</div>
		</div>
	</div>

	<script src="{% static 'js/base/base.js' %}"></script>
	{% block script %}
	{% endblock %}
</body>
</html>