{% extends 'home/base.html' %}
{% load static %}


{% block style %}
<link rel="stylesheet" href="{% static 'css/slider/slick.css' %}">
<link rel="stylesheet" href="{% static 'css/slider/slick-theme.css' %}">

<link rel="stylesheet" href="{% static 'css/pagination.css' %}">

<link rel="stylesheet" href="{% static 'css/video/list.css' %}">
<link rel="stylesheet" href="{% static 'css/home/index.css' %}">
{% endblock %}

{% block content %}
<section class="media-list">
	{% include 'home/filters.htm' %}
	<div class="list">{{ list }}</div>
	<div class="pagi">{{ pagi }}</div>
</section>
{% endblock %}

{% block script %}
<script src="{% static 'js/slick.min.js' %}"></script>
<script src="{% static 'js/home/index.js' %}"></script>
<script src="{% static 'js/load.js' %}"></script>
{% endblock %}