/* Slider */
.slick-arrow {
	z-index: 5;
	position: absolute;
	top: 50%;

	padding: 5px 7px;

	background: #00000055;
	transform: translateY(-50%);

	color: var(--bn-txt-color);

  transition: opacity .2s linear;

  &:hover {
    opacity: .8;
  }
}
.prevArrow {
	left: 0;
	border-radius: 0 10px 10px 0;
}
.nextArrow {
	right: 0;
	border-radius: 10px 0 0 10px;
}

.slick-slider {
  position: relative;

  display: block;
  box-sizing: border-box;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.slick-list {
  position: relative;

  display: block;
  overflow: hidden;

  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}
.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.slick-track {
  position: relative;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: row;
  gap: 1rem;

  margin-left: auto;
  margin-right: auto;
}
.slick-track:before,
.slick-track:after {
  display: flex;
  flex-direction: row;

  content: '';
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}
.slick-slide {
  display: none;
  float: left;

  min-height: 100%;
  /* min-height: 1px; */
}
.slick-slide > div, .slick-slide > div > div {
  height: 100%;
}
[dir='rtl'] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;

  height: auto;

  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}
