{% extends "account/base_manage_password.html" %}
{% load i18n %}
{% load allauth %}
{% load static %}

{% block head_title %}
    {% trans "Set Password" %}
{% endblock head_title %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/user/login.css' %}">
{% endblock %}

{% block content %}
<section>
    <h1>{% trans "Set Password" %}</h1>

    <form action="{% url 'account_set_password' %}" method="post">
        {% csrf_token %}

        <div class="password">
            <p>{{ form.password1.label }}</p>
            {{ form.password1 }}
        </div>

        <div class="password">
            <p>{{ form.password2.label }}</p>
            {{ form.password2 }}
        </div>

        {{ form.password1.help_text }}

        <button type="submit">{% trans 'Set Password' %}</button>
    </form>
</section>
{% endblock content %}
