{% extends "account/base_entrance.html" %}
{% load i18n allauth account %}
{% load static %}

{% block head_title %}
    {% trans "Password Reset" %}
{% endblock head_title %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/user/login.css' %}">
{% endblock %}

{% block content %}
<section>
    <h1>{% trans "Password Reset" %}</h1>
    {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    
    <p>
        Забыли пароль? Введите свой адрес электронной почты ниже, и мы отправим вам письмо, позволяющее сбросить его.
    </p>

    <form method="post">
        {% csrf_token %}

        <div class="email">
            <p>{{ form.email.label }}</p>
            {{ form.email }}
        </div>

        <button type="submit">Сбросить мой пароль</button>
    </form>

    <p class="warning">
        {% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}
    </p>
</section>
{% endblock content %}
