.media-block {
	position: relative;

	display: flex;
	flex-direction: column;
	gap: 5px;

	text-decoration: none;
	color: var(--txt-color);

	& > .media-poster,
	& > .media-title,
	& > .pre-info {
		transition: opacity .2s linear;
	}

	&:hover > .media-poster,
	&:hover > .media-title,
	&:hover > .pre-info {
		opacity: .6;
	}
}

.media-block-badges {
	z-index: 1;
	position: absolute;
	top: .5rem; left: 0;

	display: flex;
	flex-direction: column;
	gap: 3px;
}
.block-media-grade, .block-media-views {
	padding: 3px 7px;

	border-radius: 0 5px 5px 0;
}
.block-media-grade {
	background-color: var(--bn-color);
	color: var(--bn-txt-color);
}
.block-media-views {
	background-color: var(--bn2-color);
	color: var(--bl3-txt-color);
}

.media-poster {
	width: 100%;
	height: auto;
	max-width: 300px;

	border-radius: 5px;
	background-color: var(--bl3-color);
}
.no-poster {
	border-radius: 5px;
	background-color: var(--bl3-color);

	color: var(--txt-color);
}

.media-title {
	font-size: .8rem;
	font-weight: normal;
	word-wrap: break-word;
	overflow-wrap: break-word;
	color: var(--tit-color);
}
.pre-info {
	display: flex;
	flex-direction: row;
	gap: .5rem;

	font-size: .7rem;
}